<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallet.job.mapper.WalletBzzNodeMapper">

    <sql id="baseColumns">
            `id` AS id,
            `beenodes_all` AS beenodesAll,
            `beenodes_live` AS beenodesLive,
            (`beenodes_aa`*`multiple`) AS beenodesAa,
            `app_id` AS appId,
            `create_time` AS createTime,
            `update_time` AS updateTime
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `chat-wallet`.wallet_bzz_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="beenodesAll != null">
                `beenodes_all`,
            </if>
            <if test="beenodesLive != null">
                `beenodes_live`,
            </if>
            <if test="cnTitle != null">
                `cn_title`,
            </if>
            <if test="enTitle != null">
                `en_title`,
            </if>
            <if test="lastPrice != null">
                `last_price`,
            </if>
            <if test="peers != null">
                `peers`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="updateTime != null">
                `update_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="beenodesAll != null">
                #{beenodesAll},
            </if>
            <if test="beenodesLive != null">
                #{beenodesLive},
            </if>
            <if test="cnTitle != null">
                #{cnTitle},
            </if>
            <if test="enTitle != null">
                #{enTitle},
            </if>
            <if test="lastPrice != null">
                #{lastPrice},
            </if>
            <if test="peers != null">
                #{peers},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>






    <insert id="insertBzz" useGeneratedKeys="true" keyProperty="id">
        replace into `chat-wallet`.wallet_bzz_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="beenodesAll != null">
                `beenodes_all`,
            </if>
            <if test="beenodesLive != null">
                `beenodes_live`,
            </if>
            <if test="cnTitle != null">
                #{cnTitle},
            </if>
            <if test="enTitle != null">
                #{enTitle},
            </if>
            <if test="lastPrice != null">
                `last_price`,
            </if>
            <if test="peers != null">
                `peers`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="updateTime != null">
                `update_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="beenodesAll != null">
                #{beenodesAll},
            </if>
            <if test="beenodesLive != null">
                #{beenodesLive},
            </if>
            <if test="cnTitle != null">
                #{cnTitle},
            </if>
            <if test="enTitle != null">
                #{enTitle},
            </if>
            <if test="lastPrice != null">
                #{lastPrice},
            </if>
            <if test="peers != null">
                #{peers},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="delete">
        DELETE FROM `chat-wallet`.wallet_bzz_node
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="beenodesAll != null and beenodesAll !=''">
                and `beenodes_all`=#{beenodesAll}
            </if>
            <if test="beenodesLive != null and beenodesLive !=''">
                and `beenodes_live`=#{beenodesLive}
            </if>
            <if test="cnTitle != null and cnTitle !=''">
                and `cn_title`=#{cnTitle}
            </if>
            <if test="enTitle != null and enTitle !=''">
                and `en_title`=#{enTitle}
            </if>
            <if test="lastPrice != null and lastPrice !=''">
                and `last_price`=#{lastPrice}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </update>

    <update id="update">
        UPDATE `chat-wallet`.wallet_bzz_node
        <set>
            <if test="beenodesAll != null">
                `beenodes_all`=#{beenodesAll},
            </if>
            <if test="beenodesLive != null">
                `beenodes_live`=#{beenodesLive},
            </if>
            <if test="cnTitle != null">
                `cn_title`=#{cnTitle},
            </if>
            <if test="enTitle != null">
                `en_title`=#{enTitle},
            </if>
            <if test="lastPrice != null">
                `last_price`=#{lastPrice},
            </if>
            <if test="peers != null">
                `peers`=#{peers},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime},
            </if>
            <if test="updateTime != null">
                `update_time`=#{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.wallet.job.entity.WalletBzzNode">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz_node
        <where>
            id = #{id}
        </where>
    </select>

    <select id="select" resultType="com.wallet.job.entity.WalletBzzNode">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz_node
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="beenodesAll != null and beenodesAll !=''">
                and `beenodes_all`=#{beenodesAll}
            </if>
            <if test="beenodesLive != null and beenodesLive !=''">
                and `beenodes_live`=#{beenodesLive}
            </if>
            <if test="cnTitle != null and cnTitle !=''">
                and `cn_title`=#{cnTitle}
            </if>
            <if test="enTitle != null and enTitle !=''">
                and `en_title`=#{enTitle}
            </if>
            <if test="lastPrice != null and lastPrice !=''">
                and `last_price`=#{lastPrice}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectMap" resultType="map">
        SELECT
        1
        FROM `chat-wallet`.wallet_bzz_node
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="beenodesAll != null and beenodesAll !=''">
                and `beenodes_all`=#{beenodesAll}
            </if>
            <if test="beenodesLive != null and beenodesLive !=''">
                and `beenodes_live`=#{beenodesLive}
            </if>
            <if test="cnTitle != null and cnTitle !=''">
                and `cn_title`=#{cnTitle}
            </if>
            <if test="enTitle != null and enTitle !=''">
                and `en_title`=#{enTitle}
            </if>
            <if test="lastPrice != null and lastPrice !=''">
                and `last_price`=#{lastPrice}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectList" resultType="com.wallet.job.entity.WalletBzzNode">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz_node
        <where>
            and `app_id`=#{appId}
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="beenodesAll != null and beenodesAll !=''">
                and `beenodes_all`=#{beenodesAll}
            </if>
            <if test="beenodesLive != null and beenodesLive !=''">
                and `beenodes_live`=#{beenodesLive}
            </if>
            <if test="beenodesAa != null and beenodesAa !=''">
                and `beenodes_aa`=#{beenodesAa}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectListByMap" resultType="com.wallet.job.entity.WalletBzzNode">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz_node
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="beenodesAll != null and beenodesAll !=''">
                and `beenodes_all`=#{beenodesAll}
            </if>
            <if test="beenodesLive != null and beenodesLive !=''">
                and `beenodes_live`=#{beenodesLive}
            </if>
            <if test="cnTitle != null and cnTitle !=''">
                and `cn_title`=#{cnTitle}
            </if>
            <if test="enTitle != null and enTitle !=''">
                and `en_title`=#{enTitle}
            </if>
            <if test="lastPrice != null and lastPrice !=''">
                and `last_price`=#{lastPrice}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectMapListByMap" resultType="map">
        SELECT
        1
        FROM `chat-wallet`.wallet_bzz_node
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="beenodesAll != null and beenodesAll !=''">
                and `beenodes_all`=#{beenodesAll}
            </if>
            <if test="beenodesLive != null and beenodesLive !=''">
                and `beenodes_live`=#{beenodesLive}
            </if>
            <if test="cnTitle != null and cnTitle !=''">
                and `cn_title`=#{cnTitle}
            </if>
            <if test="enTitle != null and enTitle !=''">
                and `en_title`=#{enTitle}
            </if>
            <if test="lastPrice != null and lastPrice !=''">
                and `last_price`=#{lastPrice}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>


<!--    <select id="getPrice" parameterType="string" resultType="int">-->
<!--        select count(id) from `chat-wallet`.wallet_bzz  where createTime &lt;= #{value}-->
<!--    </select>-->

</mapper>