<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wallet.job.mapper.WalletBzzMapper">

    <sql id="baseColumns">
        `id`
        AS id,
            `are` AS are,
            `node_name` AS nodeName,
            `version` AS version,
            `status` AS status,
            `peers` AS peers,
            `no_ticket` AS noTicket,
            `no_against_bzz` AS noAgainstBzz,
            `xdai_balance` AS xdaiBalance,
            `wallet_address` AS walletAddress,
            `contract_address` AS contractAddress,
            `last_active_time` AS lastActiveTime,
            `create_time` AS createTime,
            `update_time` AS updateTime,
            `app_id` AS appId,
            `debug_api_addr` AS debugApiAddr
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `chat-wallet`.wallet_bzz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="are != null">
                `are`,
            </if>
            <if test="nodeName != null">
                `node_name`,
            </if>

            <if test="version != null">
                `version`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="peers != null">
                `peers`,
            </if>
            <if test="noTicket != null">
                `no_ticket`,
            </if>
            <if test="noAgainstBzz != null">
                `no_against_bzz`,
            </if>
            <if test="xdaiBalance != null">
                `xdai_balance`,
            </if>
            <if test="walletAddress != null">
                `wallet_address`,
            </if>
            <if test="contractAddress != null">
                `contract_address`,
            </if>
            <if test="lastActiveTime != null">
                `last_active_time`,
            </if>
            <if test="createTime != null">
                `create_time`,
            </if>
            <if test="updateTime != null">
                `update_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="are != null">
                #{are},
            </if>
            <if test="nodeName != null">
                #{nodeName},
            </if>
            <if test="nodeAddress != null">
                #{nodeAddress},
            </if>
            <if test="version != null">
                #{version},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="peers != null">
                #{peers},
            </if>
            <if test="noTicket != null">
                #{noTicket},
            </if>
            <if test="noAgainstBzz != null">
                #{noAgainstBzz},
            </if>
            <if test="xdaiBalance != null">
                #{xdaiBalance},
            </if>
            <if test="walletAddress != null">
                #{walletAddress},
            </if>
            <if test="contractAddress != null">
                #{contractAddress},
            </if>
            <if test="lastActiveTime != null">
                #{lastActiveTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="delete">
        DELETE FROM `chat-wallet`.wallet_bzz
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="are != null and are !=''">
                and `are`=#{are}
            </if>
            <if test="nodeName != null and nodeName !=''">
                and `node_name`=#{nodeName}
            </if>
            <if test="nodeAddress != null and nodeAddress !=''">
                and `node_address`=#{nodeAddress}
            </if>
            <if test="version != null and version !=''">
                and `version`=#{version}
            </if>
            <if test="status != null and status !=''">
                and `status`=#{status}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="noTicket != null and noTicket !=''">
                and `no_ticket`=#{noTicket}
            </if>
            <if test="noAgainstBzz != null and noAgainstBzz !=''">
                and `no_against_bzz`=#{noAgainstBzz}
            </if>
            <if test="xdaiBalance != null and xdaiBalance !=''">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="walletAddress != null and walletAddress !=''">
                and `wallet_address`=#{walletAddress}
            </if>
            <if test="contractAddress != null and contractAddress !=''">
                and `contract_address`=#{contractAddress}
            </if>
            <if test="lastActiveTime != null and lastActiveTime !=''">
                and `last_active_time`=#{lastActiveTime}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </update>

    <update id="update">
        UPDATE `chat-wallet`.wallet_bzz
        <set>
            <if test="are != null">
                `are`=#{are},
            </if>
            <if test="nodeName != null">
                `node_name`=#{nodeName},
            </if>
            <if test="nodeAddress != null">
                `node_address`=#{nodeAddress},
            </if>
            <if test="version != null">
                `version`=#{version},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="peers != null">
                `peers`=#{peers},
            </if>
            <if test="noTicket != null">
                `no_ticket`=#{noTicket},
            </if>
            <if test="noAgainstBzz != null">
                `no_against_bzz`=#{noAgainstBzz},
            </if>
            <if test="xdaiBalance != null">
                `xdai_balance`=#{xdaiBalance},
            </if>
            <if test="walletAddress != null">
                `wallet_address`=#{walletAddress},
            </if>
            <if test="contractAddress != null">
                `contract_address`=#{contractAddress},
            </if>
            <if test="lastActiveTime != null">
                `last_active_time`=#{lastActiveTime},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime},
            </if>
            <if test="updateTime != null">
                `update_time`=#{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.wallet.job.entity.WalletBzz">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz
        <where>
            id = #{id}
        </where>
    </select>

    <select id="select" resultType="com.wallet.job.entity.WalletBzz">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="are != null and are !=''">
                and `are`=#{are}
            </if>
            <if test="nodeName != null and nodeName !=''">
                and `node_name`=#{nodeName}
            </if>
            <if test="nodeAddress != null and nodeAddress !=''">
                and `node_address`=#{nodeAddress}
            </if>
            <if test="version != null and version !=''">
                and `version`=#{version}
            </if>
            <if test="status != null and status !=''">
                and `status`=#{status}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="noTicket != null and noTicket !=''">
                and `no_ticket`=#{noTicket}
            </if>
            <if test="noAgainstBzz != null and noAgainstBzz !=''">
                and `no_against_bzz`=#{noAgainstBzz}
            </if>
            <if test="xdaiBalance != null and xdaiBalance !=''">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="walletAddress != null and walletAddress !=''">
                and `wallet_address`=#{walletAddress}
            </if>
            <if test="contractAddress != null and contractAddress !=''">
                and `contract_address`=#{contractAddress}
            </if>
            <if test="lastActiveTime != null and lastActiveTime !=''">
                and `last_active_time`=#{lastActiveTime}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectMap" resultType="map">
        SELECT
        1
        FROM chat-wallet.wallet_bzz
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="are != null and are !=''">
                and `are`=#{are}
            </if>
            <if test="nodeName != null and nodeName !=''">
                and `node_name`=#{nodeName}
            </if>
            <if test="nodeAddress != null and nodeAddress !=''">
                and `node_address`=#{nodeAddress}
            </if>
            <if test="version != null and version !=''">
                and `version`=#{version}
            </if>
            <if test="status != null and status !=''">
                and `status`=#{status}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="noTicket != null and noTicket !=''">
                and `no_ticket`=#{noTicket}
            </if>
            <if test="noAgainstBzz != null and noAgainstBzz !=''">
                and `no_against_bzz`=#{noAgainstBzz}
            </if>
            <if test="xdaiBalance != null and xdaiBalance !=''">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="walletAddress != null and walletAddress !=''">
                and `wallet_address`=#{walletAddress}
            </if>
            <if test="contractAddress != null and contractAddress !=''">
                and `contract_address`=#{contractAddress}
            </if>
            <if test="lastActiveTime != null and lastActiveTime !=''">
                and `last_active_time`=#{lastActiveTime}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectList" resultType="com.wallet.job.entity.WalletBzz">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz
        <where>
            and `app_id`=#{appId}
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="are != null and are !=''">
                and `are`=#{are}
            </if>
            <if test="nodeName != null and nodeName !=''">
                and `node_name`=#{nodeName}
            </if>
            <if test="version != null and version !=''">
                and `version`=#{version}
            </if>
            <if test="status != null and status !=''">
                and `status`=#{status}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="noTicket != null and noTicket !=''">
                and `no_ticket`=#{noTicket}
            </if>
            <if test="noAgainstBzz != null and noAgainstBzz !=''">
                and `no_against_bzz`=#{noAgainstBzz}
            </if>
            <if test="xdaiBalance != null and xdaiBalance !=''">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="xdaiBalance != null and xdaiBalance ==0">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="walletAddress != null and walletAddress !=''">
                and `wallet_address`=#{walletAddress}
            </if>
            <if test="contractAddress != null and contractAddress !=''">
                and `contract_address`=#{contractAddress}
            </if>
            <if test="lastActiveTime != null and lastActiveTime !=''">
                and `last_active_time`=#{lastActiveTime}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>

        </where>
        ORDER BY id ASC
    </select>

    <select id="selectListByMap" resultType="com.wallet.job.entity.WalletBzz">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="are != null and are !=''">
                and `are`=#{are}
            </if>
            <if test="nodeName != null and nodeName !=''">
                and `node_name`=#{nodeName}
            </if>
            <if test="nodeAddress != null and nodeAddress !=''">
                and `node_address`=#{nodeAddress}
            </if>
            <if test="version != null and version !=''">
                and `version`=#{version}
            </if>
            <if test="status != null and status !=''">
                and `status`=#{status}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="noTicket != null and noTicket !=''">
                and `no_ticket`=#{noTicket}
            </if>
            <if test="noAgainstBzz != null and noAgainstBzz !=''">
                and `no_against_bzz`=#{noAgainstBzz}
            </if>
            <if test="xdaiBalance != null and xdaiBalance !=''">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="walletAddress != null and walletAddress !=''">
                and `wallet_address`=#{walletAddress}
            </if>
            <if test="contractAddress != null and contractAddress !=''">
                and `contract_address`=#{contractAddress}
            </if>
            <if test="lastActiveTime != null and lastActiveTime !=''">
                and `last_active_time`=#{lastActiveTime}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>

    <select id="selectMapListByMap" resultType="map">
        SELECT
        1
        FROM `chat-wallet`.wallet_bzz
        <where>
            <if test="id != null and id !=''">
                and `id`=#{id}
            </if>
            <if test="are != null and are !=''">
                and `are`=#{are}
            </if>
            <if test="nodeName != null and nodeName !=''">
                and `node_name`=#{nodeName}
            </if>
            <if test="nodeAddress != null and nodeAddress !=''">
                and `node_address`=#{nodeAddress}
            </if>
            <if test="version != null and version !=''">
                and `version`=#{version}
            </if>
            <if test="status != null and status !=''">
                and `status`=#{status}
            </if>
            <if test="peers != null and peers !=''">
                and `peers`=#{peers}
            </if>
            <if test="noTicket != null and noTicket !=''">
                and `no_ticket`=#{noTicket}
            </if>
            <if test="noAgainstBzz != null and noAgainstBzz !=''">
                and `no_against_bzz`=#{noAgainstBzz}
            </if>
            <if test="xdaiBalance != null and xdaiBalance !=''">
                and `xdai_balance`=#{xdaiBalance}
            </if>
            <if test="walletAddress != null and walletAddress !=''">
                and `wallet_address`=#{walletAddress}
            </if>
            <if test="contractAddress != null and contractAddress !=''">
                and `contract_address`=#{contractAddress}
            </if>
            <if test="lastActiveTime != null and lastActiveTime !=''">
                and `last_active_time`=#{lastActiveTime}
            </if>
            <if test="createTime != null and createTime !=''">
                and `create_time`=#{createTime}
            </if>
            <if test="updateTime != null and updateTime !=''">
                and `update_time`=#{updateTime}
            </if>
        </where>
    </select>
    <select id="dataCentreMap" resultType="java.util.Map">
        SELECT COUNT(are) AS number, are AS name
        FROM
            wallet_bzz
        WHERE
            app_id = #{appId}
        GROUP BY
            are
    </select>
    <select id="bzzPrice" resultType="java.util.Map">
        SELECT id,
            date,
            price
        FROM
            wallet_bzz_price
        ORDER BY
            id DESC LIMIT 240

    </select>
    <select id="bzzPeers" resultType="com.wallet.job.entity.Bo.BzzPeers">
        SELECT node_name AS nodeName,
               peers     AS number
        FROM wallet_bzz
        ORDER BY id ASC LIMIT 16
    </select>

    <insert id="addBzzPrice">
        INSERT INTO wallet_bzz_price
        SET price=#{price}, date =NOW()
    </insert>

    <select id="getByid" resultType="java.lang.Integer">
        SELECT id
        FROM wallet_bzz_node
        WHERE app_id = #{appId}
        ORDER BY id DESC LIMIT 1
    </select>

    <insert id="addNode">
        INSERT INTO wallet_bzz_node
        SET app_id=#{appId}, beenodes_all=#{beenodesAll}, beenodes_live=#{beenodesLive}, beenodes_aa=#{beenodesAa}
    </insert>

    <update id="updateNode">
        UPDATE wallet_bzz_node
        SET beenodes_all=#{beenodesAll},
            beenodes_live=#{beenodesLive},
            beenodes_aa=#{beenodesAa}
        WHERE id = #{id}
    </update>
    <select id="getCountBeenodesAa" resultType="java.lang.Integer">
        SELECT count(id)
        FROM wallet_bzz
        WHERE app_id = #{appId}
    </select>

    <select id="getCountPrice" resultType="java.lang.Integer">
        SELECT COUNT(price)
        FROM wallet_bzz_price
        WHERE price = #{price}
    </select>
    <select id="getPeer" resultType="java.lang.Integer">
        SELECT COUNT(peer)
        FROM wallet_bzz_info
        WHERE peer = #{peer}
    </select>
    <insert id="addPeerInfo">
        INSERT INTO wallet_bzz_info
        SET peer=#{peer}, wallet_bzz_id =#{wallet_bzz_id},create_time =NOW()
    </insert>
    <select id="waterList" resultType="java.util.Map">
        SELECT  address,id FROM wallet_bzz_water WHERE hx is NULL ORDER BY id ASC
    </select>
    <update id="updateWater">
        UPDATE  wallet_bzz_water SET hx=#{hx} WHERE id=#{id}
    </update>
    <select id="selectListGy" resultType="com.wallet.job.entity.WalletBzz">
        SELECT
        <include refid="baseColumns"/>
        FROM `chat-wallet`.wallet_bzz
        <where>
            and `app_id`=#{appId}
        </where>
        ORDER BY id ASC LIMIT #{start},#{stop};
    </select>

</mapper>